# Data Exploration
In this notebook, the data exploration steps are described. The data which consists of two tables with measurements for chlorophyll a and two tables with measurements for temperature is loaded from the database and transformed into one table for chlorophyll a and one for temperature. Invalid rows (empty values for chlorophyll a or temperature) are deleted so that the data can be further analyzed. Furthermore some rows like rows that are not in both temperature tables or bot chlorophyll a tables are deleted, because they are not needed for the analysis. You should run the test.sh file within the project folder before to get the data downloaded into the database and also get the database checked for errors. </br>
<b>Use some Version of python3.11 if you run this notebook or any other files in this git.</b>

## Install dependencies

In [ ]:
%pip install pandas

## Load data

In [107]:
import pandas as pd
import sqlite3

con = sqlite3.connect('./data/data.sqlite')
df1 = pd.read_sql_query("SELECT * FROM CHLA_18", con)
df2 = pd.read_sql_query("SELECT * FROM CHLA_22", con)
df3 = pd.read_sql_query("SELECT * FROM TEMP_18", con)
df4 = pd.read_sql_query("SELECT * FROM TEMP_22", con)

## Clean and merge data

In [108]:
df1.drop(columns=['CHLA_FLM_FGN_AL [µg/l]', 'QV_1', 'QV_2', 'QV_3'], axis=1, inplace=True)
df2.drop(columns=['QV_1', 'QV_2'],  axis=1, inplace=True)
df3.drop(columns=['TEMP_THEPRC_NOT_NDT[°C]', 'QV_1', 'QV_2', 'QV_3'], axis=1, inplace=True)
df4.drop(columns=['QV_1', 'QV_2'],  axis=1, inplace=True)
df_merged1=pd.concat([df1,df2]) 
df_merged2=pd.concat([df3,df4]) 
df_merged1.dropna(subset=['CHLA_SENE_DEV_NDT [µg/l]'], inplace=True)
df_merged2.dropna(subset=['TEMP_THE_NOT_NDT[°C]'],  inplace=True )

## Look at metadata and some data
Clarify that everything worked as planned. Now the data contains only values we can analyze. Columns are properly reduced, empty values removed  and the data containing similar measurements from different years can be easily merged for further analysis.

In [114]:
print("Chlorophyll a measurements:")
df_merged1

Chlorophyll a measurements:

,Cruise,Station,Type,Date,Longitude [degrees_east],Latitude [degrees_north],LOCAL_CDI_ID,EDMO_code,Bot Depth [m],Depth [m],CHLA_SENE_DEV_NDT [µg/l]
302,Celtic Explorer BSH North Sea Summer,0003_GN003,B,2018-08-29T11:25:00,"8,106833333333","54,002166666667",20183283ST438601prof_DODDB,BSH,"7,4",4,"5,34"
303,Celtic Explorer BSH North Sea Summer,0005_GN007,B,2018-08-29T18:28:00,"6,424166666667","53,9265",20183283ST438603prof_DODDB,BSH,26,5,"3,79"
304,Celtic Explorer BSH North Sea Summer,0007_GN008,B,2018-08-30T01:32:00,"4,831","54,000833333333",20183283ST438605prof_DODDB,BSH,"42,2",5,"1,48"
305,Celtic Explorer BSH North Sea Summer,0008_GN009,B,2018-08-30T08:29:00,"3,000166666667","54,001",20183283ST438606prof_DODDB,BSH,"43,4",5,"1,97"
306,Celtic Explorer BSH North Sea Summer,0010_GN010,B,2018-08-30T16:34:00,"3,996666666667","53,0015",20183283ST438608prof_DODDB,BSH,"30,1",5,"1,39"
...,...,...,...,...,...,...,...,...,...,...,...
82933,Elisabeth Mann Borgese EMB305,EMB305_92-1_EMB305_92-1,B,2022-11-16T17:03:24,"10,449166666667","54,598833333333",20220112ST470506prof_DODDB,IOW,"19,5","16,75","1,2521"
82934,Elisabeth Mann Borgese EMB305,EMB305_92-1_EMB305_92-1,B,2022-11-16T17:03:24,"10,449166666667","54,598833333333",20220112ST470506prof_DODDB,IOW,"19,5",17,"1,2599"
82935,Elisabeth Mann Borgese EMB305,EMB305_92-1_EMB305_92-1,B,2022-11-16T17:03:24,"10,449166666667","54,598833333333",20220112ST470506prof_DODDB,IOW,"19,5","17,5","1,6887"
82936,Elisabeth Mann Borgese EMB305,EMB305_92-1_EMB305_92-1,B,2022-11-16T17:03:24,"10,449166666667","54,598833333333",20220112ST470506prof_DODDB,IOW,"19,5","17,75","1,7007"
82937,Elisabeth Mann Borgese EMB305,EMB305_92-1_EMB305_92-1,B,2022-11-16T17:03:24,"10,449166666667","54,598833333333",20220112ST470506prof_DODDB,IOW,"19,5",18,"2,2048"

In [115]:
print("\n\nTemperature measurements:")
df_merged2

Temperature measurements:

,Cruise,Station,Type,Date,Longitude [degrees_east],Latitude [degrees_north],LOCAL_CDI_ID,EDMO_code,Bot Depth [m],Depth [m],TEMP_THE_NOT_NDT[°C]
0,Celtic Explorer CE18002,0002_MEDEM,B,2018-01-30T06:55:00,"8,719166666667","53,883333333333",20180178ST434180prof_DODDB,BSH,"14,6",1,"4,2"
1,Elisabeth Mann Borgese EMB175,0001_TFO5,B,2018-01-30T08:22:00,"12,074965","54,231331666667",20180125ST436488prof_DODDB,IOW,"13,56","1,86","4,0617000000000001"
11,Elisabeth Mann Borgese EMB175,0001_TFO5,B,2018-01-30T08:22:00,"12,074965","54,231331666667",20180125ST436488prof_DODDB,IOW,"13,56","10,42","4,0613999999999999"
14,Elisabeth Mann Borgese EMB175,0001_TFO5,B,2018-01-30T08:22:00,"12,074965","54,231331666667",20180125ST436488prof_DODDB,IOW,"13,56","12,44","4,0636999999999999"
33,Celtic Explorer CE18002,0003_ELBE1,B,2018-01-30T09:36:00,"8,105166666667","53,999166666667",20180178ST434181prof_DODDB,BSH,"29,4",6,"5,46"
...,...,...,...,...,...,...,...,...,...,...,...
82925,Elisabeth Mann Borgese EMB305,EMB305_92-1_EMB305_92-1,B,2022-11-16T17:03:24,"10,449166666667","54,598833333333",20220112ST470506prof_DODDB,IOW,"19,5","16,75","12,4196"
82926,Elisabeth Mann Borgese EMB305,EMB305_92-1_EMB305_92-1,B,2022-11-16T17:03:24,"10,449166666667","54,598833333333",20220112ST470506prof_DODDB,IOW,"19,5",17,"12,4353"
82927,Elisabeth Mann Borgese EMB305,EMB305_92-1_EMB305_92-1,B,2022-11-16T17:03:24,"10,449166666667","54,598833333333",20220112ST470506prof_DODDB,IOW,"19,5","17,5","12,4524"
82928,Elisabeth Mann Borgese EMB305,EMB305_92-1_EMB305_92-1,B,2022-11-16T17:03:24,"10,449166666667","54,598833333333",20220112ST470506prof_DODDB,IOW,"19,5","17,75","12,4282"
82929,Elisabeth Mann Borgese EMB305,EMB305_92-1_EMB305_92-1,B,2022-11-16T17:03:24,"10,449166666667","54,598833333333",20220112ST470506prof_DODDB,IOW,"19,5",18,"12,4259"