# Data Exploration
In this notebook, the data exploration steps are described. The data which consists of two tables with measurements for chlorophyll a and two tables with measurements for temperature is loaded from the database and transformed into one table for chlorophyll a and one for temperature. Invalid rows (empty values for chlorophyll a or temperature) are deleted so that the data can be further analyzed. Furthermore some rows like rows that are not in both temperature tables or bot chlorophyll a tables are deleted, because they are not needed for the analysis. You should run the test.sh file within the project folder before to get the data downloaded into the database and also get the database checked for errors. </br>
<b>Use some Version of python3.11 if you run this notebook or any other files in this git.</b>

## Install dependencies

In [ ]:
%pip install pandas
%pip install matplotlib
%pip install numpy
%pip install statistics

## Load data

In [107]:
import pandas as pd
import sqlite3

con = sqlite3.connect('./data/data.sqlite')
df1 = pd.read_sql_query("SELECT * FROM CHLA_18", con)
df2 = pd.read_sql_query("SELECT * FROM CHLA_22", con)
df3 = pd.read_sql_query("SELECT * FROM TEMP_18", con)
df4 = pd.read_sql_query("SELECT * FROM TEMP_22", con)

## Clean and merge data

In [108]:
df1.drop(columns=['CHLA_FLM_FGN_AL [µg/l]', 'QV_1', 'QV_2', 'QV_3'], axis=1, inplace=True)
df2.drop(columns=['QV_1', 'QV_2'],  axis=1, inplace=True)
df3.drop(columns=['TEMP_THEPRC_NOT_NDT[°C]', 'QV_1', 'QV_2', 'QV_3'], axis=1, inplace=True)
df4.drop(columns=['QV_1', 'QV_2'],  axis=1, inplace=True)
df_merged1=pd.concat([df1,df2]) 
df_merged2=pd.concat([df3,df4]) 
df_merged1.dropna(subset=['CHLA_SENE_DEV_NDT [µg/l]'], inplace=True)
df_merged2.dropna(subset=['TEMP_THE_NOT_NDT[°C]'],  inplace=True )

## Look at metadata and first rows

In [114]:
print("Chlorophyll a measurements:")
df_merged1

Chlorophyll a measurements:

,Cruise,Station,Type,Date,Longitude [degrees_east],Latitude [degrees_north],LOCAL_CDI_ID,EDMO_code,Bot Depth [m],Depth [m],CHLA_SENE_DEV_NDT [µg/l]
302,Celtic Explorer BSH North Sea Summer,0003_GN003,B,2018-08-29T11:25:00,"8,106833333333","54,002166666667",20183283ST438601prof_DODDB,BSH,"7,4",4,"5,34"
303,Celtic Explorer BSH North Sea Summer,0005_GN007,B,2018-08-29T18:28:00,"6,424166666667","53,9265",20183283ST438603prof_DODDB,BSH,26,5,"3,79"
304,Celtic Explorer BSH North Sea Summer,0007_GN008,B,2018-08-30T01:32:00,"4,831","54,000833333333",20183283ST438605prof_DODDB,BSH,"42,2",5,"1,48"
305,Celtic Explorer BSH North Sea Summer,0008_GN009,B,2018-08-30T08:29:00,"3,000166666667","54,001",20183283ST438606prof_DODDB,BSH,"43,4",5,"1,97"
306,Celtic Explorer BSH North Sea Summer,0010_GN010,B,2018-08-30T16:34:00,"3,996666666667","53,0015",20183283ST438608prof_DODDB,BSH,"30,1",5,"1,39"
...,...,...,...,...,...,...,...,...,...,...,...
82933,Elisabeth Mann Borgese EMB305,EMB305_92-1_EMB305_92-1,B,2022-11-16T17:03:24,"10,449166666667","54,598833333333",20220112ST470506prof_DODDB,IOW,"19,5","16,75","1,2521"
82934,Elisabeth Mann Borgese EMB305,EMB305_92-1_EMB305_92-1,B,2022-11-16T17:03:24,"10,449166666667","54,598833333333",20220112ST470506prof_DODDB,IOW,"19,5",17,"1,2599"
82935,Elisabeth Mann Borgese EMB305,EMB305_92-1_EMB305_92-1,B,2022-11-16T17:03:24,"10,449166666667","54,598833333333",20220112ST470506prof_DODDB,IOW,"19,5","17,5","1,6887"
82936,Elisabeth Mann Borgese EMB305,EMB305_92-1_EMB305_92-1,B,2022-11-16T17:03:24,"10,449166666667","54,598833333333",20220112ST470506prof_DODDB,IOW,"19,5","17,75","1,7007"
82937,Elisabeth Mann Borgese EMB305,EMB305_92-1_EMB305_92-1,B,2022-11-16T17:03:24,"10,449166666667","54,598833333333",20220112ST470506prof_DODDB,IOW,"19,5",18,"2,2048"

In [115]:
print("\n\nTemperature measurements:")
df_merged2

Temperature measurements:

,Cruise,Station,Type,Date,Longitude [degrees_east],Latitude [degrees_north],LOCAL_CDI_ID,EDMO_code,Bot Depth [m],Depth [m],TEMP_THE_NOT_NDT[°C]
0,Celtic Explorer CE18002,0002_MEDEM,B,2018-01-30T06:55:00,"8,719166666667","53,883333333333",20180178ST434180prof_DODDB,BSH,"14,6",1,"4,2"
1,Elisabeth Mann Borgese EMB175,0001_TFO5,B,2018-01-30T08:22:00,"12,074965","54,231331666667",20180125ST436488prof_DODDB,IOW,"13,56","1,86","4,0617000000000001"
11,Elisabeth Mann Borgese EMB175,0001_TFO5,B,2018-01-30T08:22:00,"12,074965","54,231331666667",20180125ST436488prof_DODDB,IOW,"13,56","10,42","4,0613999999999999"
14,Elisabeth Mann Borgese EMB175,0001_TFO5,B,2018-01-30T08:22:00,"12,074965","54,231331666667",20180125ST436488prof_DODDB,IOW,"13,56","12,44","4,0636999999999999"
33,Celtic Explorer CE18002,0003_ELBE1,B,2018-01-30T09:36:00,"8,105166666667","53,999166666667",20180178ST434181prof_DODDB,BSH,"29,4",6,"5,46"
...,...,...,...,...,...,...,...,...,...,...,...
82925,Elisabeth Mann Borgese EMB305,EMB305_92-1_EMB305_92-1,B,2022-11-16T17:03:24,"10,449166666667","54,598833333333",20220112ST470506prof_DODDB,IOW,"19,5","16,75","12,4196"
82926,Elisabeth Mann Borgese EMB305,EMB305_92-1_EMB305_92-1,B,2022-11-16T17:03:24,"10,449166666667","54,598833333333",20220112ST470506prof_DODDB,IOW,"19,5",17,"12,4353"
82927,Elisabeth Mann Borgese EMB305,EMB305_92-1_EMB305_92-1,B,2022-11-16T17:03:24,"10,449166666667","54,598833333333",20220112ST470506prof_DODDB,IOW,"19,5","17,5","12,4524"
82928,Elisabeth Mann Borgese EMB305,EMB305_92-1_EMB305_92-1,B,2022-11-16T17:03:24,"10,449166666667","54,598833333333",20220112ST470506prof_DODDB,IOW,"19,5","17,75","12,4282"
82929,Elisabeth Mann Borgese EMB305,EMB305_92-1_EMB305_92-1,B,2022-11-16T17:03:24,"10,449166666667","54,598833333333",20220112ST470506prof_DODDB,IOW,"19,5",18,"12,4259"

## Data exploration
Display the chlorophyll a levels and the temperature in a graph.

In [180]:
import matplotlib.pyplot as plt
import numpy as np 
import statistics

# sort values by date
df_merged1.sort_values(by='Date', ascending=True, inplace=True)
df_merged2.sort_values(by='Date', ascending=True, inplace=True)
# extract date from datetime column
df_merged1['Date']= pd.to_datetime(df_merged1['Date'], format=('%Y-%m-%dT%H:%M:%S.%f'))
df_merged1['Date']= df_merged1['Date'].dt.date

x = df_merged1['CHLA_SENE_DEV_NDT [µg/l]']
y = df_merged1['Date']

# calc average for temperature on same date
dates = []
values = []
for i in range(len(y)-1):
    type(y[i])
    if y[i] == y[i+1]:
        dates.append(y[i])
        values.append(float(x[i].replace(',', '.')))
    else: 
        print(values)
        print(statistics.fmean(values))
print(y)
plt.plot(x, y)
plt.show()

[1.2432, 1.2567, 1.2539, 1.2518, 1.2962, 1.3038, 1.3442, 1.3921, 1.3864, 1.4055, 1.3644, 1.1479, 1.0961, 1.0707, 1.0737, 1.1829, 1.1132, 1.1482, 1.32, 1.3966, 1.9003, 1.2347, 1.2555, 1.2565, 1.248, 1.3385, 1.4082, 1.2948, 1.32, 1.1962, 1.1153, 1.1238, 1.0773, 1.0113, 0.9911, 1.0385, 1.0616, 1.1142, 1.1585, 1.1276, 1.3213, 2.0654, 0.9295, 0.9214, 0.9307, 0.9199, 0.9044, 0.9046, 0.8852, 0.8886, 0.8553, 0.7997, 0.7453, 0.6949, 0.705, 0.6433, 0.6164, 0.6031, 0.5903, 0.5854, 0.5673, 0.5769, 0.5702, 0.6044, 0.7422, 0.8021, 0.8694, 0.9366, 0.6729, 0.6937, 0.7112, 0.7005, 0.6944, 0.6955, 0.6847, 0.659, 0.6928, 0.6508, 0.6214, 0.5742, 0.5595, 0.5755, 0.5958, 0.5668, 0.585, 0.5674, 0.5602, 0.5595, 0.597, 0.5772, 0.5789, 0.5867, 0.5735, 0.5682, 0.5725, 0.5637, 0.5719, 0.5828, 0.6, 0.6045, 0.6029, 0.6338, 0.6108, 0.6162, 0.6428, 0.6381, 0.6582, 0.6611, 0.6754, 0.7142, 1.0304, 0.8645, 0.9091, 0.9935, 0.8784, 0.8551, 0.8415, 0.9067, 0.8418, 0.8931, 0.8995, 0.8914, 0.8957, 0.8291, 0.8736, 0.8655, 0.8334, 0.8728, 0.8425, 0.8645, 0.958, 0.9355, 1.1258, 1.2685, 0.5058, 0.5075, 0.5413, 0.558, 0.546, 0.5456, 0.5567, 0.5096, 0.5613, 0.5969, 0.5578, 0.5985, 0.6048, 0.58, 0.533, 0.5495, 0.595, 0.5533, 0.5987, 0.804, 0.5342, 0.5366, 0.5534, 0.6892, 0.529, 0.5651, 0.6386, 0.6241, 0.6301, 0.7823, 0.6268, 0.678, 0.6805]
0.8382664670658683

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().