# Data Exploration
In this notebook the data exploration steps are described. The data is loaded from the database and transformed into one table. Invalid rows are deleted so that the data can be further analyzed. You should run the test. sh file before to get the data downloaded into the database and also get the database checked for errors.

## Install dependencies

In [2]:
%pip install pandas
%pip install 'SQLAlchemy==2.0.15'

Requirement already satisfied: pandas in ./.venv/lib/python3.10/site-packages (1.4.2)
Requirement already satisfied: python-dateutil>=2.8.1 in ./.venv/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.10/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in ./.venv/lib/python3.10/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: SQLAlchemy==2.0.15 in ./.venv/lib/python3.10/site-packages (2.0.15)
Requirement already satisfied: typing-extensions>=4.2.0 in ./.venv/lib/python3.10/site-packages (from SQLAlchemy==2.0.15) (4.6.3)
Requirement already satisfied: greenlet!=0.4.17 in ./.venv/lib/python3.10/site-packages (from SQLAlchemy==2.0.15) (2.0.2)
Note: you may need to restart the kernel to use updated packages.

## Load data

In [12]:
import pandas as pd

df1 = pd.read_sql_table('CHLA_18', 'sqlite:///data/data.sqlite')
df2 = pd.read_sql_table('CHLA_22', 'sqlite:///data/data.sqlite')
df3 = pd.read_sql_table('CHLA_18', 'sqlite:///data/data.sqlite')
df4 = pd.read_sql_table('CHLA_18', 'sqlite:///data/data.sqlite')

AttributeError: 'OptionEngine' object has no attribute 'execute'

### Look at the first rows

In [3]:
df.head(10)

,EVA_NR,DS100,IFOPT,NAME,Verkehr,Laenge,Breite,Betreiber_Name,Betreiber_Nr,Status
0,8002551,AELB,de:02000:11943,Hamburg Elbbrücken,RV,10.024500,53.534500,DB Station und Service AG,NaN,neu
1,8001944,TETN,None,Eutingen Nord,RV,8.753100,48.484700,DB Station und Service AG,NaN,neu
2,8003074,MIA,None,Ingolstadt Audi,RV,11.407456,48.790496,DB Station und Service AG,NaN,neu
3,8001723,HEBA,None,Einbeck Otto-Hahn-Straße,RV,9.892910,51.814478,Ilmebahn GmbH,NaN,neu
4,8004371,KRO,None,Nörvenich-Rommelsheim,nur DPN,6.547586,50.782539,Rurtalbahn GmbH,NaN,neu
5,8010340,DSTR,None,Straßgräbchen-Bernsdorf,nur DPN,14.052047,51.361469,None,NaN,neu
6,8001510,TDSA,de:08237:8009:2,Dornstetten-Aach,RV,8.482910,48.473300,DB Station und Service AG,NaN,neu
7,8001966,MFOL,de:09187:90183,Feldolling,nur DPN,11.852244,47.895336,DB Station und Service AG,NaN,neu
8,8002060,FFGG,de:06412:11500,Frankfurt(Main)-Gateway Gardens,RV,8.594495,50.056574,DB Station und Service AG,NaN,neu
9,8002535,EOBG,de:05962:3517,Halver-Oberbrügge,RV,7.574042,51.191867,DB Station und Service AG,NaN,neu

### Data exploration
Prints both datasets

In [6]:
df5.info()
df6.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6519 entries, 0 to 6518
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   EVA_NR          6519 non-null   int64
 1   DS100           6519 non-null   object
 2   IFOPT           6512 non-null   object
 3   NAME            6519 non-null   object
 4   Verkehr         6519 non-null   object
 5   Laenge          6519 non-null   float64
 6   Breite          6519 non-null   float64
 7   Betreiber_Name  6517 non-null   object
 8   Betreiber_Nr    5395 non-null   float64
 9   Status          24 non-null     object
dtypes: float64(3), int64(1), object(6)
memory usage: 509.4+ KB

array(['neu', None], dtype=object)