# Data Exploration
In this notebook, the data exploration steps are described. The data which consists of two tables with measurements for chlorophyll a and two tables with measurements for temperature is loaded from the database and transformed into one table for chlorophyll a and one for temperature. Invalid rows (empty values for chlorophyll a or temperature) are deleted so that the data can be further analyzed. Furthermore some rows like rows that are not in both temperature tables or bot chlorophyll a tables are deleted, because they are not needed for the analysis. You should run the test.sh file within the project folder before to get the data downloaded into the database and also get the database checked for errors. </br>
<b>Use some Version of python3.11 if you run this notebook or any other files in this git.</b>

## Install dependencies

In [ ]:
%pip install pandas

## Load data

In [96]:
import pandas as pd
import sqlite3

con = sqlite3.connect('./data/data.sqlite')
df1 = pd.read_sql_query("SELECT * FROM CHLA_18", con)
df2 = pd.read_sql_query("SELECT * FROM CHLA_22", con)
df3 = pd.read_sql_query("SELECT * FROM TEMP_18", con)
df4 = pd.read_sql_query("SELECT * FROM TEMP_22", con)

## Clean and merge data

In [97]:
df1.drop(columns=['CHLA_FLM_FGN_AL [µg/l]', 'QV_1', 'QV_2', 'QV_3'], axis=1, inplace=True)
df2.drop(columns=['QV_1', 'QV_2'],  axis=1, inplace=True)
df3.drop(columns=['TEMP_THEPRC_NOT_NDT[°C]', 'QV_1', 'QV_2', 'QV_3'], axis=1, inplace=True)
df4.drop(columns=['QV_1', 'QV_2'],  axis=1, inplace=True)
df_merged1=pd.concat([df1,df2]) 
df_merged2=pd.concat([df3,df4]) 
df_merged1.dropna(subset=['CHLA_SENE_DEV_NDT [µg/l]'], inplace=True)
df_merged2.dropna(subset=['TEMP_THE_NOT_NDT[°C]'],  inplace=True )

## Look at metadata and first rows

In [ ]:
print("Chlorophyll a measurements:")
df_merged1.info()
print(df_merged1.head(5))
print("\n\nTemperature measurements:")
df_merged2.info()
print(df_merged2.head(5))

### Data exploration